xsd/habilidades.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Pokedex">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pokemon" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nombre" type="xs:string" />
							<xs:element name="Habilidades">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Habilidad" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="oculta" type="xs:boolean" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
